@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.landingpage-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw !important;
  object-fit: contain;
  z-index: -1;
}

.jsoneditor-search {
  transform: translate(-120px, 0);
}
.ace_error {
  display: none !important;
}
.jsoneditor-poweredBy {
  display: none;
}
.jsoneditor {
  border-radius: 10px;
  border: 1px solid #e1e1e1 !important;
}
.jsoneditor-menu {
  border-radius: 9px 9px 0 0;
}
.jsoneditor-statusbar {
  border-radius: 0 0 9px 9px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
